$main-font: Roboto;
$main-color: #1A1D20; 
$light-background: #EDEAE5;
$light-text: #F8F8F8;
$active-color: #DF5EFF;
$hover-button-color: #C507F4;
$secondary-color: #495057;
$ligth-2-background: #F5F5FE;
$age-icon: #FF3A3A;
$white-color: white;